{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <h1 class="mb-4">Activity Logs</h1>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'microservice_list' %}">Microservices</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'service_dependency_list' %}">Services Relationship Manager</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'user_list' %}">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'activity_log_list' %}">Activity Logs</a>
            </li>
             <li class="nav-item">
                 <a class="nav-link" href="{% url 'feedback_form' %}">Feedback Form</a>
             </li>
        </ul>
    </div>
    <table>
        <thead>
            <tr>
                <th>Action</th>
                <th>Timestamp</th>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
            {% for log in activity_logs %}
                <tr>
                    <td>{{ log.action }}</td>
                    <td>{{ log.timestamp }}</td>
                    <td>{{ log.user.username }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if is_paginated %}
    <div class="pagination">
        {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">Page {{ page_obj.number }} of {{ paginator.num_pages }}</span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
        <a href="?page={{ paginator.num_pages }}">Last</a>
        {% endif %}
    </div>
    {% endif %}

{% endblock %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
{% endblock %}
