{% load static %}
  <!-- Load the messages template tags -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Microservices Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/notification.css' %}">
</head>
<body>

{% if user.is_authenticated %}
    {% if not request.session.welcome_notification_displayed %}
        {% with welcome_notification=user.welcomenotification %}
            {% if welcome_notification %}
                <div class="notification" id="notification">Navigation Successful <span class="close">&times;</span></div>

            {% endif %}
        {% endwith %}
    {% endif %}
  <!-- Display user greeting and logout link -->
  <p>Welcome, {{ user.username }}! (<a href="{% url 'account_logout' %}">Logout</a>)</p>
{% else %}
  <!-- Display login link if user is not logged in -->
  <p><a href="{% url 'account_login' %}">Login</a></p>
{% endif %}

<!-- Display Django messages -->
{% if messages %}
<div class="messages">
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<div id="content">
    {% block content %}{% endblock %}
</div>

<script>
  function showNotification() {
    var notification = document.getElementById("notification");
    notification.style.display = "block";
    setTimeout(function(){
      closeNotification();
    }, 450); // 3000 milliseconds = 3 seconds
  }

  function closeNotification() {
    var notification = document.getElementById("notification");
    notification.style.display = "none";
  }

  // Call showNotification function when the page loads
  window.onload = function() {
    showNotification();
  };
</script>

</body>
</html>
