{% extends 'base.html' %}
{% load static %}

{% block title %}Microservices Dashboard{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mb-4">Microservices Dashboard</h1>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'microservice_list' %}">Microservices</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'service_dependency_list' %}">Services Relationship Manager</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'user_list' %}">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'activity_log_list' %}">Activity Logs</a>
            </li>
             <li class="nav-item">
                 <a class="nav-link" href="{% url 'feedback_form' %}">Feedback Form</a>
             </li>
        </ul>
    </div>
  <table class="microservices-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for microservice in microservices %}
        <tr>
          <td>{{ microservice.name }}</td>
          <td class="{{ microservice.status|lower }}-status">
            <div class="traffic-light"></div>
            {{ microservice.status }}
          </td>
          <td>{{ microservice.description }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block styles %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles.css' %}">
{% endblock %}
